<form (ngSubmit)="ValidarConsumo()">
    <div class="form-row">
        <div class="col">
            <select class="form-control" name="enca.bodega" [(ngModel)]="enca.bodega">
                <option value="">Local Origen del Consumo</option>
                <option *ngFor="let bod of bodegas" [value]="bod.CodBode">{{ bod.DescCC }}</option>
            </select>
        </div>
        <div class="col" style="margin-top:7px; padding-left: 50px;">
            <label>Documento es Electrónico</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="enca.electronico" [(ngModel)]="enca.electronico" id="radioSI" [value]="true">
                <label class="form-check-label" for="radioSI">Sí</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="enca.electronico" [(ngModel)]="enca.electronico" id="radioNO" [value]="false">
                <label class="form-check-label" for="radioNO">No</label>
            </div>
            <!-- <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="enca.electronico" [(ngModel)]="enca.electronico">
                <label class="form-check-label" for="gridCheck">
                    Documento es Tributario y Electrónico
                </label>
            </div> -->
        </div>
    </div>


</form>

<div class="progress" style="height: 8px;" *ngIf=" cargando ">
    <div class="progress-bar progress-bar-striped  progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>